include ../includes/_mixins

.modal__in
	button.modal__close.lol.js-modal-close(type='button')
		+i('close')
	.modal__head Отправлено
	.modal__main
		p.modal__text Ваша заяка принята, мы свяжемся с Вами в ближайшее время.