header.header
	.container
		// begin logo
		.header__logo.logo
			h1.logo__none Perfect Wedding
			a.logo__link(href="index.html" title='Perfect Wedding')
				img.logo__img(src="img/logo.png" alt="Perfect Wedding")
		// end logo
		.header__right
			.header__address Самара, посёлок Дома ЭМО,
				br
				| лица Третья, дом 4
			a.header__phone(href='tel:+89171044788') 8 (917) 104-47-88